//Colors

//Fonts

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: red;
}

footer {
    grid-area: footer;
    background-color: green;
}

button {
    width: 100px;
    height: 50px;
}

input {
    width: 100px;
    height: 20px;
}

form {
    text-align: center;
}

.hidden {
    display: none
}

.visible {
    display: block
}

li {
    border: 2px solid purple;
    height: 20px;
    width: 100px;
    margin: 5px;
    list-style: none;
    text-align: center;
    // justify-content: center;
}

ul {
    display: flex;
    // flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    padding-left:0;
}